* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    min-width: $width-page-min;
    background: linear-gradient(90deg, $color-bg-izq 35%, $color-bg-der 100%);
}
.vacio {
    background-color: $color-text;
    border: 0px;
    visibility: hidden;
}
.hidden {
    display: none;
}
.espacio {
    height: 40px;
}
