.periodo {
    margin-top: 5px;
    button {
        width: 50px;
        height: 65px;
        font-size: $texto-pixels;
        font-family: 'Crimson Text', serif;
    }
    button:hover {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        color: $color-bg;
        font-weight: bolder;
        font-size: 1.2em;
    }
    .otrosmetales:hover {
        background: $color-otrosmetales-hover;
        box-shadow: 0 0 20px 0 $color-otrosmetales-shadow inset,
            0 0 20px 10px $color-otrosmetales-shadow;
    }
    .alcalino:hover {
        background: $color-alcalino-hover;
        box-shadow: 0 0 20px 0 $color-alcalino-shadow inset,
            0 0 20px 10px $color-alcalino-shadow;
    }
    .alcalinoterreo:hover {
        background: $color-alcalinoterreo-hover;
        box-shadow: 0 0 20px 0 $color-alcalinoterreo-shadow inset,
            0 0 20px 10px $color-alcalinoterreo-shadow;
    }
    .metaloides:hover {
        background: $color-metaloides-hover;
        box-shadow: 0 0 20px 0 $color-metaloides-shadow inset,
            0 0 20px 10px $color-metaloides-shadow;
    }
    .nometal:hover {
        background: $color-nometal-hover;
        box-shadow: 0 0 20px 0 $color-nometal-shadow inset,
            0 0 20px 10px $color-nometal-shadow;
    }
    .gasnoble:hover {
        background: $color-gasnoble-hover;
        box-shadow: 0 0 20px 0 $color-gasnoble-shadow inset,
            0 0 20px 10px $color-gasnoble-shadow;
    }
    .metal:hover {
        background: $color-metal-hover;
        box-shadow: 0 0 20px 0 $color-metal-shadow inset,
            0 0 20px 10px $color-metal-shadow;
    }
    .lantanidos:hover {
        background: $color-lantanidos-hover;
        box-shadow: 0 0 20px 0 $color-lantanidos-shadow inset,
            0 0 20px 10px $color-lantanidos-shadow;
    }
    .actinidos:hover {
        background: $color-actinidos-hover;
        box-shadow: 0 0 20px 0 $color-actinidos-shadow inset,
            0 0 20px 10px $color-actinidos-shadow;
    }
}
