.alcalino {
    background-color: $color-alcalino;
}
.otrosmetales {
    background-color: $color-otrosmetales;
}
.alcalinoterreo {
    background-color: $color-alcalinoterreo;
}
.metaloides {
    background-color: $color-metaloides;
}
.nometal {
    background-color: $color-nometal;
}
.gasnoble {
    background-color: $color-gasnoble;
}
.metal {
    background-color: $color-metal;
}
.lantanidos {
    background-color: $color-lantanidos;
}
.actinidos {
    background-color: $color-actinidos;
}
.periodo {
    .vacio:hover {
        background-color: $color-bg;
        cursor: auto;
        box-shadow: 0 0px 5px 1px $color-bg;
    }
}
