* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    min-width: $width-page-min;
    background-image: linear-gradient($color1-bg, $color2-bg);
    max-height: 1127px;
}
.vacio {
    background-color: $color-bg;
    border: 0px;
    visibility: hidden;
}
.hidden {
    display: none;
}
.espacio {
    height: 40px;
}
