.alcalino {
    background-color: salmon;
}
.alcalinoterreo {
    background-color: orange;
}
.metaloides {
    background-color: green;
}
.nometal {
    background-color: violet;
}
.halogeno {
    background-color: pink;
}
.gasnoble {
    background-color: cyan;
}
.metal {
    background-color: paleturquoise;
}
.lantanidos {
    background-color: cyan;
}
.actinidos {
    background-color: darkcyan;
}
.periodo .vacio:hover {
    background-color: white;
    cursor: auto;
    box-shadow: 0 0px 5px 1px white;
}
