* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    min-width: 1065;
}

.vacio {
    background-color: #fff;
    border: 0px;
}
.hidden {
    display: none;
}
.espacio {
    height: 40px;
}
